svg {
  overflow:visible;
  max-Width:100%;
  border: solid;
}


/* Flex container */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Flex items */
.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.gif-container {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 1000px)
{

  .gif-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

}


@media only screen and (min-width: 500px) and (max-width: 1000px)
{

  .gif-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

}


@media only screen and (min-width: 500px) and (max-width: 1000px)
{

  .gif-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

}

