{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Currently Trending</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
			<ol class="keyword-list">
        {% for keyword in keywords %}
        {% for key, value in keyword.items %}
        <li>
          <!--<a href="/list/{{ keyword.pk }}/">{{ keyword.name }}</a>-->
          <!--<a href="/list/{{ keyword.pk }}/">{{ keyword }}</a>-->
          <a href="/list/{{ keyword.pk }}/">{{ value }}</a>
        </li>
        {% endfor %}
        {% endfor %}
			</ol>
    </div>
  </div>
{% endblock content %}
