{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>10 Trendiest Keyowrds</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
			<ol class="keyword-list">
        {% for keyword in keywords|slice:"10"%}
        <li>
          <a href="/list/{{ keyword.pk }}/">{{ keyword.name }}</a>
        </li>
        {% endfor %}
			</ol>
    </div>
  </div>
  </div>
  <h2>
    All Keywords
  </h2>
  <p>
  {%for keyword in keywords %}
  <a href="/list/{{ keyword.pk }}/">{{ keyword.name }}, </a>
  {%endfor%}
  </p>
{% endblock content %}
